[flake8]
max-line-length = 110
filename =
    *.py,
    */test/check-*,
    */test/files/mock-insights,
per-file-ignores =
    test/check-*:
        # cannot import the cockpit modules
        F403,
        F405,
        E402,
extend-exclude =
    # external sources checked out during tests
    bots/,
    cockpit/,
    src/lib/,
    subscription-manager/,
    test/common/,
